<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" href="stylesheets/ratchet.min.css">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
	<header class="bar bar-nav">
	  <h1 class="title">Raspi App Server</h1>
	</header>
	<div class="content">
		<ul class="table-view">
	  		<li class="table-view-cell">
				Led
				<div class="toggle">
		  			<div class="toggle-handle"></div>
				</div>
	  		</li>
		</ul>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
	<script src="javascripts/main.js"></script>
</body>
</html>
