<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>RaspiApp</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

	<nav class="indigo">
		<div class="nav-wrapper">
		  <a href="/app" class="brand-logo">SIGESTECCI</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		  	<li>
				<a href="/app/admin"><i class="material-icons right">account_circle</i>Registrar</a>
			</li>
			<li>
				<a href="/app/logout"><i class="material-icons right">exit_to_app</i>Salir</a>
			</li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
			    <li>
					<a href="/app/admin">Registrar</a>
				</li>
				<li>
					<a href="/app/logout">Salir</a>
				</li>
      		</ul>
		</div>
	</nav>

	<div class="container">
		<h2 class="center font-mrRobot color-mrRobot">RASPI-APP</h2>
		<h5 class="center"><%=username%></h5>
		
		<i class="material-icons large center-block" style="margin: 0 auto; width: 84px" id="wb_incandescent">wb_incandescent</i>

		<div class="toggle center-block m-medium-top-space">
      		<div class="toggle-handle"></div>
    	</div>
		<form class="m-medium-top-space">
			<div class="row">
				<div class="input-field col s12 m6">
					<input type="number" id="numberTimeOut" required>    
					<label for="numberTimeOut">Tiempo</label>
				</div>
				<div class="input-field col s12 m6">
					<select id="timeOptions" required>
					  <option value="0" disabled selected>Escoge tu opción</option>
					  <option value="1">Milisegundos</option>
					  <option value="2">Segundos</option>
					  <option value="3">Minutos</option>
					  <option value="4">Hora(s)</option>
					</select>
					<label>Materialize Select</label>
				</div>
			</div>
			<button type="submit" class="btn waves-effect waves-light indigo" id="shutdown">Apagar</button>
			<button type="submit" class="btn waves-effect waves-light #d32f2f red darken-2" id="cancelShudown" disabled>Cancelar</button>
		</form>
	</div>
	
	<div id="alert" class="#ef5350 red lighten-1" style="display: none;">
		<span>El usuario ha sido registrado satisfactoriamente</span>
		<div class="close">X</div>
	</div>
	
	<% if ( messages.info ) { %>
    	<script>
		    var alertRegister = document.getElementById('alert');
		    alertRegister.style.display = 'block';
    	</script>
	<% } %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
	<script>
		  $(document).ready(function() {
		    $('select').material_select();
		    $(".button-collapse").sideNav();

		    var alertClose = document.querySelector('#alert .close');
		    alertClose.addEventListener('click',function () {
		    	$( "#alert" ).hide( "slow" );
		    });

		  });
	</script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
