<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>RaspiApp</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

	<nav class="indigo">
		<div class="nav-wrapper">
		  <a href="/app" class="brand-logo">SIGESTECCI</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		  	<li>
				<a href="/app/admin"><i class="material-icons right">account_circle</i>Registrar</a>
			</li>
			<li>
				<a href="/app/logout"><i class="material-icons right">exit_to_app</i>Salir</a>
			</li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
			    <li>
					<a href="/app/admin">Registrar</a>
				</li>
				<li>
					<a href="/app/logout">Salir</a>
				</li>
      		</ul>
		</div>
	</nav>

	<div class="container row">
		<form action="/app/signup" class="center-block form-register" method="post">
			<img src="/images/SIGESTECCI.png" class="center-block">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">account_circle</i>
	          		<input id="last_name" type="text" class="validate" name="username">
	          		<label for="last_name">Nombre de usuario</label>
	        	</div>

				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
	          		<input id="last_name" type="password" class="validate" name="password">
	          		<label for="last_name">Contraseña</label>
	        	</div>

	       		<div class="input-field col s12">
	       			<i class="material-icons prefix">lock</i>
	          		<input id="last_name" type="password" class="validate" name="password_confirmation">
	          		<label for="last_name">Confirmar contraseña</label>
	        	</div>	
	        	<button type="submit" class="waves-effect waves-light btn center-block indigo" style="width: 90%;">Registrar</button>
			</div>
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script>
		$(document).on('ready',function () {
			$(".button-collapse").sideNav();
		});
	</script>
</body>
</html>